/* RESET GERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/* CORPO DA PÁGINA */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #bbb28d;
    color: rgb(0, 0, 0);
    line-height: 1.6;
}
s
/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 8%;
    background: rgba(8, 0, 0, 0.95);
    backdrop-filter: blur(10px);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo {
    font-size: 30px;
    font-weight: bold;
    color: #000000;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-links a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #030002;
}

/* HERO SECTION */
.hero {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 60px 8%;
    background: linear-gradient(135deg, #b4a287, #e2e6cc, #000000);
}

.hero-text {
    flex: 1;
}

.hero-text h1 {
    font-size: 3.2rem;
    line-height: 1.2;
    margin-bottom: 20px;
}

.hero-text p {
    font-size: 1.2rem;
    color: #080501;
    margin-bottom: 30px;
}

.hero-image {
    flex: 1;
    display: flex;
    justify-content: center;
}

.hero-image img {
    width: 100%;
    max-width: 500px;
    border-radius: 20px;
    object-fit: cover;
    box-shadow: 0 20px 40px rgba(182, 170, 148, 0.4);
}

/* BOTÃO */
.btn {
    display: inline-block;
    background: linear-gradient(90deg, #080808, #000000);
    color: rgb(216, 201, 201);
    text-decoration: none;
    padding: 14px 30px;
    border-radius: 999px;
    font-weight: bold;
    transition: 0.3s;
    box-shadow: 0 10px 20px rgba(161, 169, 182, 0.3);
}

.btn:hover {
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 15px 30px rgba(253, 245, 245, 0.45);
}

/* SEÇÃO SOBRE */
.sobre {
    background-color: #cfcfad;
    padding: 80px 8%;
    text-align: center;
}

.sobre h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.sobre p {
    max-width: 700px;
    margin: auto;
    color:;
}

/* SERVIÇOS */
.servicos {
    padding: 80px 8%;
    text-align: center;
    background-color: #cdcec6;
}

.servicos h2 {
    font-size: 2.5rem;
    margin-bottom: 40px;
}

/* CARDS */
.cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.card {
    width: 320px;
    padding: 30px;
    border-radius: 20px;
    background: linear-gradient(135deg, #cfcfad, #b9b9b6);
    box-shadow: 0 10px 30px rgba(235, 230, 219, 0.3);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-10px);
}

.card h3 {
    font-size: 1.5rem;
    color: #b3b1a9;
    margin-bottom: 15px;
}

.card p {
    color: #cdcad4;
}

/* CTA */
.cta {
    padding: 100px 8%;
    text-align: center;
    background: linear-gradient(135deg, #bcc4c5, #d1d1c1, #030303);
}

.cta h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
}

/* FOOTER */
footer {
    background-color: #bbb19e;
    padding: 30px;
    text-align: center;
    color: #c6ced8;
}

/* RESPONSIVIDADE */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        gap: 15px;
    }

    .nav-links {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .hero {
        flex-direction: column;
        text-align: center;
        padding-top: 40px;
    }

    .hero-text h1 {
        font-size: 2.2rem;
    }

    .hero-text p {
        font-size: 1rem;
    }

    .hero-image img {
        max-width: 100%;
    }

    .sobre h2,
    .servicos h2,
    .cta h2 {
        font-size: 2rem;
    }

    .card {
        width: 100%;
        max-width: 350px;
    }
}